<form [formGroup]="form" (submit)="submit()">
  <label for="name">Name:</label>
  <input type="name" id="name" name="name" required>

  <label for="surname">Surname:</label>
  <input type="surname" id="surname" name="surname" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="code">Code from Email:</label>
  <input type="text" id="code" name="code" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <input type="submit" value="Submit">
</form>
