<form [formGroup]="form" (submit)="submit()">
  <label for="first_name">Name:</label>
  <input formControlName="first_name" type="text" id="first_name" name="first_name" required>

  <label for="last_name">Surname:</label>
  <input formControlName="last_name" type="text" id="last_name" name="last_name" required>

  <label for="email">Email:</label>
  <input formControlName="email" type="email" id="email" name="email" required>

  <label for="phone_number">Phone number:</label>
  <input formControlName="phone_number" type="text" id="phone_number" name="phone_number" placeholder="+7" required>

  <label for="password">Password:</label>
  <input formControlName="password" type="password" id="password" name="password" required>

  <div>
    <label for="employer">
      <input type="radio" id="employer" name="user_type" value="employer" formControlName="user_type" required>
      Employer
    </label>
    <label for="employee">
      <input type="radio" id="employee" name="user_type" value="employee" formControlName="user_type" required>
      Employee
    </label>
  </div>
  <p class="error" *ngIf="notValid">User with such email already exists</p>
  <button type="submit">Submit</button>
</form>
